@import "tailwindcss";


body {
  @apply bg-gradient-to-br from-sky-100 to-blue-200;
  font-family: 'Inter', sans-serif;
}
/* Hide scrollbar across all browsers */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

