@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-sky-100 to-blue-200;
  font-family: 'Inter', sans-serif;
}

/* Hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
